Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: https://github.com/python-poetry/poetry
    rev: '2.1.1'  # add version here
    hooks:
      - id: poetry-check

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: poetry run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: poetry run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

feat: convert plan limit errors to AJAX notifications
  billing/billing_processing.py
  core/js/main.ts
  sboms/templates/sboms/components_dashboard.html
  sboms/templates/sboms/products_dashboard.html
  sboms/templates/sboms/projects_dashboard.html
Due: bun-lint, ruff-format, ruff

Fixes plan dialogue boxes
  billing/billing_processing.py
  sboms/templates/sboms/components_dashboard.html
  sboms/templates/sboms/products_dashboard.html
  sboms/templates/sboms/projects_dashboard.html
Due: ruff-format, ruff

Big CRUD refactoring of front-end
  billing/billing_processing.py
  core/apis.py
  core/tests/e2e/test_critical_paths.py
  core/tests/integration/test_ui_workflows.py
  pyproject.toml
  sboms/apis.py
  sboms/forms.py
  sboms/js/components/AddComponentForm.vue
  sboms/js/components/AddProductForm.vue
  sboms/js/components/AddProjectForm.vue
  sboms/js/components/PublicStatusToggle.vue
  sboms/js/main.ts
  sboms/schemas.py
  sboms/templates/sboms/components_dashboard.html
  sboms/templates/sboms/products_dashboard.html
  sboms/templates/sboms/projects_dashboard.html
  sboms/tests/fixtures.py
  sboms/tests/test_apis.py
  sboms/tests/test_crud_apis.py
  sboms/tests/test_views.py
  sboms/urls.py
  sboms/views.py
Due: bun-lint, ruff-format, ruff

refactor: migrate CRUD operations from Django views to API endpoints
  core/apis.py
  core/js/main.ts
  core/js/utils.ts
  core/schemas.py
  core/tests/test_apis.py
  core/utils.py
  sboms/apis.py
  sboms/js/components/AddComponentForm.vue
  sboms/js/components/AddProductForm.vue
  sboms/js/components/AddProjectForm.vue
  sboms/templates/sboms/components_dashboard.html
  sboms/templates/sboms/products_dashboard.html
  sboms/templates/sboms/projects_dashboard.html
  sboms/urls.py
  sboms/utils.py
Due: bun-lint, ruff-format, ruff

Don't have fallback for version
  core/context_processors.py
  core/templates/core/components/footer.html
Due: ruff-format, ruff

Drops strange rename api
  core/apis.py
  core/js/components/EditableSingleField.spec.ts
  core/js/components/EditableSingleField.vue
  core/tests/test_apis.py
  teams/apis.py
  teams/schemas.py
Due: bun-lint, ruff-format, ruff

Fixes metadata for wizard
  sboms/utils.py
  teams/views.py
Due: ruff-format, ruff

Adds titles
  billing/templates/billing/enterprise_contact.html
  billing/templates/billing/select_plan.html
  core/templates/core/components/onboarding_wizard.html
  core/templates/socialaccount/authentication_error.html
  core/templates/socialaccount/login.html
  sboms/templates/sboms/component_details_public.html
  sboms/templates/sboms/product_details_private.html
  sboms/templates/sboms/product_details_public.html
  sboms/templates/sboms/products_dashboard.html
  sboms/templates/sboms/project_details_private.html
  sboms/templates/sboms/project_details_public.html
  sboms/templates/sboms/projects_dashboard.html
  sboms/templates/sboms/sbom_details_private.html
  sboms/templates/sboms/sbom_details_public.html
  sboms/templates/sboms/sbom_vulnerabilities.html
  sboms/templates/sboms/sboms_dashboard.html
  teams/templates/teams/dashboard.html
  teams/templates/teams/invite.html
  templates/account/login.html
Due: none

fix: resolve 404 errors for billing enterprise contact and delete operations
  billing/urls.py
  billing/views.py
  sboms/js/components/DangerZone.vue
  sboms/js/components/ProductDangerZone.vue
  sboms/js/components/ProjectDangerZone.vue
Due: bun-lint, ruff-format, ruff

Fixes up enterprise contact form.
  billing/forms.py
  billing/templates/billing/enterprise_contact.html
  billing/views.py
Due: ruff-format, ruff

Link up version in footer
  core/templates/core/components/footer.html
Due: none

Refactors e2e test to use REST API rather than calling objects;
  core/tests/e2e/test_critical_paths.py
Due: ruff-format, ruff

Phase 1: Preparation & New App Creation
  .cursor/rules/django.mdc
  .cursor/rules/python.mdc
  catalog/__init__.py
  catalog/admin.py
  catalog/apps.py
  catalog/migrations/0001_initial.py
  catalog/migrations/__init__.py
  catalog/models.py
  catalog/tests.py
  catalog/views.py
  sbomify/settings.py
Due: ruff-format, ruff

Phase 2: Duplicate Models with Managed=False (with added tests)
  catalog/migrations/0002_initial.py
  catalog/models.py
  catalog/tests.py
  sboms/tests/test_crud_apis.py
  sboms/tests/test_models.py
  sboms/tests/test_views.py
Due: ruff-format, ruff

Phase 3: Move Schemas and Create Admin
  catalog/admin.py
  catalog/schemas.py
  core/apis.py
  sboms/schemas.py
Due: ruff-format, ruff

Phase 5: Fix ContentType and Permissions
  billing/apis.py
  billing/billing_processing.py
  billing/tests/fixtures.py
  billing/tests/test_api.py
  billing/tests/test_billing_processing.py
  billing/tests/tests.py
  billing/views.py
  catalog/migrations/0003_fix_contenttype.py
  core/admin.py
  core/apis.py
  core/tests/__init__.py
  core/tests/e2e/test_critical_paths.py
  core/tests/fixtures.py
  core/tests/integration/test_object_store.py
  core/tests/integration/test_ui_workflows.py
  core/tests/templates/test_base_template.py
  core/tests/test_apis.py
  core/tests/test_keycloak_adapter.py
  core/tests/test_models.py
  core/tests/test_utils.py
  core/tests/test_views.py
  sboms/management/commands/cleanup_test_sbom_environment.py
  sboms/management/commands/create_test_sbom_environment.py
  sboms/models.py
  sboms/tests/fixtures.py
  sboms/tests/test_apis.py
  sboms/tests/test_crud_apis.py
  sboms/tests/test_cyclonedx_validator.py
  sboms/tests/test_models.py
  sboms/tests/test_sbom_schemas.py
  sboms/tests/test_sbom_validator.py
  sboms/tests/test_utils.py
  sboms/tests/test_views.py
  sboms/tests/test_vulnerability_scanning.py
  teams/tests/test_onboarding_wizard.py
  teams/views.py
Due: ruff-format, ruff

Phase 7: Deploy Stage B (Switch to Managed=True)
  billing/tests/test_api.py
  catalog/models.py
  catalog/tests.py
  core/apis.py
  sboms/tests/fixtures.py
  sboms/utils.py
Due: ruff-format, ruff

Phase 8: Update SBOM Model Relationship
  catalog/migrations/0004_alter_component_options_alter_product_options_and_more.py
  sboms/migrations/0031_remove_project_components_alter_sbom_component_and_more.py
  sboms/models.py
Due: ruff-format, ruff

Adds guardrails and tweaks tests
  catalog/migrations/0003_fix_contenttype.py
  core/apis.py
  sboms/migrations/0032_validate_data_integrity.py
  sboms/utils.py
Due: ruff-format, ruff

Fixes migration issues
  sboms/migrations/0031_remove_project_components_alter_sbom_component_and_more.py
  sboms/migrations/0032_validate_data_integrity.py
Due: ruff-format, ruff

More attempts to fix stage migration
  .cursor/rules/django.mdc
  sboms/migrations/0032_validate_data_integrity.py
Due: ruff-format, ruff

Removes broken condition
  sboms/migrations/0032_validate_data_integrity.py
Due: ruff-format, ruff

Phase 9: Clean Up
  sboms/admin.py
  sboms/apis.py
  sboms/models.py
  sboms/tests/fixtures.py
  sboms/tests/test_apis.py
  sboms/tests/test_crud_apis.py
  sboms/tests/test_views.py
  sboms/views.py
Due: ruff-format, ruff

Phase 10: Future Preparation - Component Types
  catalog/migrations/0005_component_component_type_component_projects_and_more.py
  catalog/models.py
  catalog/tests.py
Due: ruff-format, ruff

Review fixes
  catalog/migrations/0005_component_component_type_component_projects_and_more.py
  catalog/migrations/0005_ensure_tables_and_add_fields.py
  catalog/models.py
  pyproject.toml
Due: ruff-format, ruff

Migration cleanup - now passes locally
  catalog/migrations/0003_fix_contenttype.py
  catalog/migrations/0005_ensure_tables_and_add_fields.py
  catalog/models.py
Due: ruff-format, ruff

Pushes uncommited changes
  catalog/migrations/0005_ensure_tables_and_add_fields.py
  catalog/migrations/0006_add_constraints.py
  sboms/migrations/0033_delete_proxy_models.py
Due: ruff-format, ruff

refactor: Modernize project styling and migrate to Vue.js components for item assignment
  core/apis.py
  core/tests/test_public_private_constraints.py
  docker-compose.yml
  pyproject.toml
  sboms/js/components/ItemAssignmentManager.spec.ts
  sboms/js/components/ItemAssignmentManager.vue
  sboms/js/components/PublicStatusToggle.vue
  sboms/js/main.ts
  sboms/schemas.py
  sboms/templates/sboms/component_details_private.html
  sboms/templates/sboms/component_details_public.html
  sboms/templates/sboms/product_details_private.html
  sboms/templates/sboms/product_details_public.html
  sboms/templates/sboms/products_dashboard.html
  sboms/templates/sboms/project_details_private.html
  sboms/templates/sboms/project_details_public.html
  sboms/templates/sboms/projects_dashboard.html
  sboms/templates/sboms/sbom_details_public.html
  sboms/templates/sboms/sbom_vulnerabilities.html
  sboms/templates/sboms/sboms_dashboard.html
  sboms/tests/test_crud_apis.py
  sboms/tests/test_views.py
  sboms/views.py
Due: bun-lint, ruff-format, ruff

Fixes download buttons
  sboms/templates/sboms/product_details_private.html
  sboms/templates/sboms/product_details_public.html
  sboms/templates/sboms/project_details_private.html
  sboms/tests/test_views.py
  sboms/urls.py
  sboms/utils.py
  sboms/views.py
Due: ruff-format, ruff

Aligns new component with StandardCard
  sboms/js/components/ItemAssignmentManager.vue
Due: bun-lint

security: implement team role validation decorator
  teams/decorators.py
  teams/tests.py
  teams/views.py
Due: ruff-format, ruff

Remove unused dependency
  poetry.lock
  pyproject.toml
Due: none

refactor: Consolidate and standardize API endpoints
  core/apis.py
  core/tests/e2e/test_critical_paths.py
  sboms/apis.py
  sboms/js/components/ComponentMetaInfo.spec.ts
  sboms/js/components/ComponentMetaInfo.vue
  sboms/js/components/ComponentMetaInfoDisplay.vue
  sboms/js/components/ComponentMetaInfoEditor.spec.ts
  sboms/js/components/ComponentMetaInfoEditor.vue
  sboms/js/components/DashboardStats.vue
  sboms/tests/test_apis.py
Due: bun-lint, ruff-format, ruff

Fixes test
  sboms/tests/test_apis.py
Due: ruff-format, ruff

Fixes issues when testing
  core/js/components/ComponentMetaInfoEditor.vue
  core/templates/core/component_details_private.html
  core/templates/core/components/onboarding_wizard.html
  core/templates/core/components/sidebar.html
  core/templates/core/product_details_private.html
  core/templates/core/product_details_public.html
  core/templates/core/project_details_private.html
  core/templates/core/project_details_public.html
  core/templates/core/sidebar.html
Due: bun-lint

Fixes tests and moves more functions
  core/apis.py
  core/schemas.py
  core/tests/e2e/test_critical_paths.py
  core/tests/integration/test_ui_workflows.py
  core/utils.py
  core/views.py
  sboms/apis.py
  sboms/schemas.py
  sboms/tests/test_utils.py
  sboms/tests/test_views.py
  sboms/views.py
Due: ruff-format, ruff

More test fixes
  core/templates/error.html.j2
  teams/templates/teams/team_invite_email.html.j2
Due: none
