Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: poetry run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: poetry run ruff check .
  language: system
  pass_filenames: false

feat: Add promo code support to Stripe checkout
  sbomify/apps/billing/apis.py
  sbomify/apps/billing/schemas.py
  sbomify/apps/billing/stripe_client.py
  sbomify/apps/billing/tests/test_api.py
  sbomify/apps/billing/tests/test_stripe_client.py
  sbomify/apps/billing/views.py
Due: ruff-format, ruff

fix(admin): enhance admin interface with dashboard fixes and improved model configurations
  sbomify/apps/core/admin.py
  sbomify/apps/core/templates/admin/dashboard.html.j2
  sbomify/apps/sboms/admin.py
Due: ruff-format, ruff

Conditionally load debug toolbar
  sbomify/settings.py
Due: ruff-format, ruff

conditional debug toolbar
  sbomify/apps/licensing/tests/test_api.py
  sbomify/urls.py
Due: ruff-format, ruff

Fixes write issue for dramatiq
  Dockerfile
Due: none

Migration: Components private page
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/component_details_private.py
  sbomify/static/css/component-details-private.css
Due: ruff-format, ruff

Refactor: Adjust formatting of the stylesheet link in component_details_private.html.j2 for improved readability.
  sbomify/apps/core/templates/core/component_details_private.html.j2
Due: none

Migration: Components public page
  sbomify/apps/core/templates/core/component_details_public.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/static/css/public-base.css
Due: ruff-format, ruff

Refactor: Replace function-based view with class-based ComponentDetailedPublicView and add corresponding template for detailed public component display. Introduce new CSS for component styling.
  sbomify/apps/core/templates/core/component_detailed_public.htmx.j2
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/component_detailed_public.py
  sbomify/static/css/base.css
  sbomify/static/css/component-detailed-public.css
  sbomify/static/css/components.css
  sbomify/static/css/public-base.css
Due: ruff-format, ruff

Fix: Correct the formatting of the download link in the component_detailed_public.html.j2 template to ensure proper rendering of URLs based on component type.
  sbomify/apps/core/templates/core/component_detailed_public.html.j2
Due: none

Migration: django-vite(vue.js) to django-htmx (Components page) (#3)
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/AddComponentForm.vue
  sbomify/apps/core/js/components/ComponentsList.vue
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/core/templates/core/component_detailed_private.html.j2
  sbomify/apps/core/templates/core/component_detailed_public.html.j2
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/core/templates/core/component_details_public.html.j2
  sbomify/apps/core/templates/core/components/messages.htmx.j2
  sbomify/apps/core/templates/core/components_dashboard.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/tests/integration/test_ui_workflows.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/component_detailed_private.py
  sbomify/apps/core/views/component_detailed_public.py
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/core/views/components_dashboard.py
  sbomify/apps/sboms/tests/test_views.py
  sbomify/static/css/base.css
  sbomify/static/css/component-detailed-private.css
  sbomify/static/css/component-detailed-public.css
  sbomify/static/css/component-details-private.css
  sbomify/static/css/components-dashboard.css
  sbomify/static/css/components.css
  sbomify/static/css/components/download-card.css
  sbomify/static/css/components/items-list-table.css
  sbomify/static/css/components/standard-card.css
  sbomify/static/css/public-base.css
  sbomify/test_settings.py
  vite.config.ts
Due: bun-lint, ruff-format, ruff

Refactor: Migrate templates to use new dashboard_base.htmx.j2 for HTMX integration, improving component rendering. Adjust formatting in various templates for consistency and readability.
  sbomify/apps/core/templates/core/component_detailed_private.html.j2
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/core/templates/core/component_details_public.html.j2
  sbomify/apps/core/templates/core/components_dashboard.html.j2
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/templates/core/dashboard_base.htmx.j2
  sbomify/static/css/components/standard-card.css
Due: none

Update dashboard template to extend from dashboard_base.htmx.j2 for improved HTMX integration. Remove unused color inheritance in items-list-table.css for cleaner styling.
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/static/css/components/items-list-table.css
Due: none

Update CI/CD and CodeQL workflows to explicitly specify the 'master' branch for pull requests, enhancing clarity in trigger conditions.
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
Due: none

Migrations: Products pages
  docker-compose.dev.yml
  sbomify/apps/core/js/components/AddProductForm.vue
  sbomify/apps/core/js/components/ProductsList.spec.ts
  sbomify/apps/core/js/components/ProductsList.vue
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/templates/core/products_dashboard.html.j2
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/products_dashboard.py
  sbomify/apps/sboms/tests/test_views.py
Due: bun-lint, ruff-format, ruff

Debug actions
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
Due: none

Implement class-based view for public product details and update template for improved layout. Remove legacy function-based view and enhance CSS for better responsiveness.
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/product_details_public.py
Due: ruff-format, ruff

Implement class-based view for private product releases, update URL routing, and enhance template with new CSS for improved layout. Remove legacy function-based view and streamline related code.
  sbomify/apps/core/templates/core/product_releases_private.html.j2
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/product_releases_private.py
  sbomify/static/css/product-releases-private.css
Due: ruff-format, ruff

Implement class-based view for private release details, update URL routing, and enhance template with new CSS for improved layout. Remove legacy function-based view and streamline related code.
  sbomify/apps/core/templates/core/release_details_private.html.j2
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/release_details_private.py
  sbomify/static/css/release-details-private.css
Due: ruff-format, ruff

Implement class-based view for public release details, update URL routing, and enhance template with new CSS for improved layout. Remove legacy function-based view and streamline related code.
  sbomify/apps/core/js/components/PublicReleaseArtifacts.vue
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/release_details_public.py
  sbomify/static/css/fontawesome.min.css
  sbomify/static/css/release-details-public.css
  sbomify/static/webfonts/fa-brands-400.woff2
  sbomify/static/webfonts/fa-regular-400.woff2
  sbomify/static/webfonts/fa-solid-900.woff2
  sbomify/static/webfonts/fa-v4compatibility.woff2
Due: bun-lint, ruff-format, ruff

Enhance ReleaseDetailsPublicView to include error handling for non-existent releases. Import get_release function within the view method for improved encapsulation.
  sbomify/apps/core/views/release_details_public.py
Due: ruff-format, ruff

Remove redundant error handling for non-existent releases in ReleaseDetailsPublicView, relying on the get_release function for status checks instead.
  sbomify/apps/core/views/release_details_public.py
Due: ruff-format, ruff

fix: register onboarding cron jobs to enable scheduled reminder emails
  sbomify/tasks.py
Due: ruff-format, ruff

Fixes missing decorator
  sbomify/apps/onboarding/cron.py
Due: ruff-format, ruff

fix: resolve onboarding email task registration in dramatiq worker
  sbomify/apps/onboarding/cron.py
  sbomify/apps/onboarding/models.py
  sbomify/apps/onboarding/tasks.py
  sbomify/apps/vulnerability_scanning/tasks.py
Due: ruff-format, ruff

Make dev mode podman/docker agnostic with bias towards podman
  bin/developer_mode.sh
Due: none

fix: resolve circular import in onboarding signals
  sbomify/apps/onboarding/cron.py
  sbomify/apps/onboarding/signals.py
  sbomify/apps/onboarding/tasks.py
Due: ruff-format, ruff

fix: resolve circular import in onboarding signals
  sbomify/apps/onboarding/signals.py
Due: ruff-format, ruff

Improves redis settings and fixes database bug in redis settings
  docker-compose.yml
  sbomify/apps/onboarding/signals.py
  sbomify/settings.py
Due: ruff-format, ruff

Fix email availability for username/password signups and refactor team creation
  sbomify/apps/core/adapters.py
  sbomify/apps/core/tests/test_account_adapter.py
  sbomify/apps/core/tests/test_error_consistency.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/utils.py
  sbomify/settings.py
Due: ruff-format, ruff

Fix team naming regression: extract clean names from email-based usernames
  sbomify/apps/teams/models.py
  sbomify/apps/teams/tests/test_team_naming.py
Due: ruff-format, ruff

Restructure teams tests to use tests/ directory for consistency
  .github/workflows/ci-cd.yml
  sbomify/apps/teams/tests/__init__.py
  sbomify/apps/teams/tests/test_teams.py
Due: ruff-format, ruff

Update component templates and API response to utilize new component type display method for improved consistency and clarity across the application.
  sbomify/apps/core/apis.py
  sbomify/apps/core/templates/core/component_detailed_private.html.j2
  sbomify/apps/core/templates/core/component_detailed_public.html.j2
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/core/templates/core/component_details_public.html.j2
  sbomify/apps/core/views/releases_dashboard.py
Due: ruff-format, ruff

Revert
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
Due: none

Update sbom_upload functions to make component name extraction optional
  sbomify/apps/sboms/apis.py
Due: ruff-format, ruff

Update docker-compose.dev.yml
  docker-compose.dev.yml
Due: none

Migrations: Projects pages
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/AddProjectForm.vue
  sbomify/apps/core/js/components/ProjectsList.spec.ts
  sbomify/apps/core/js/components/ProjectsList.vue
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/projects_dashboard.html.j2
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/projects_dashboard.py
  sbomify/apps/sboms/tests/test_views.py
  sbomify/static/css/projects-dashboard.css
Due: bun-lint, ruff-format, ruff

Update projects dashboard template to enhance styling by renaming the card class for improved clarity and consistency.
  sbomify/apps/core/templates/core/projects_dashboard.html.j2
Due: none

Refactor project details public template for improved HTML structure and readability. Simplify component display logic and enhance styling consistency.
  sbomify/apps/core/templates/core/project_details_public.html.j2
Due: none

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
