Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: poetry run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: poetry run ruff check .
  language: system
  pass_filenames: false

Clear redis cache on deploy
  bin/release.sh
Due: none

feat: enhance vulnerability scanning security and resilience
  vulnerability_scanning/circuit_breaker.py
  vulnerability_scanning/clients.py
  vulnerability_scanning/fields.py
  vulnerability_scanning/migrations/0004_alter_dependencytrackserver_api_key.py
  vulnerability_scanning/models.py
  vulnerability_scanning/services.py
  vulnerability_scanning/tasks.py
  vulnerability_scanning/tests/test_services.py
Due: ruff-format, ruff

Removes security theater feature.
  vulnerability_scanning/fields.py
  vulnerability_scanning/migrations/0004_alter_dependencytrackserver_api_key.py
  vulnerability_scanning/models.py
Due: ruff-format, ruff

Fixes up admin field
  vulnerability_scanning/admin.py
  vulnerability_scanning/migrations/0004_alter_dependencytrackserver_api_key.py
Due: ruff-format, ruff

Cleanup
  vulnerability_scanning/migrations/0004_alter_dependencytrackserver_api_key.py
Due: ruff-format, ruff

Cleanup
  vulnerability_scanning/admin.py
Due: ruff-format, ruff

Cleanup
  .github/workflows/ci-cd.yml.bak
Due: none

Adds product tagging
  .github/workflows/ci-cd.yml
Due: none

Fixes caching of navbar
  core/templates/core/base.html.j2
Due: none

fix: resolve datetime serialization error in vulnerability scanning tasks
  vulnerability_scanning/tasks.py
Due: ruff-format, ruff

Cut patch release
  pyproject.toml
Due: none

Update README.md
  README.md
Due: markdownlint

security: hide Dependency Track server details from end users
  teams/js/components/VulnerabilitySettings.vue
  vulnerability_scanning/apis.py
  vulnerability_scanning/models.py
  vulnerability_scanning/services.py
  vulnerability_scanning/tests/test_models.py
  vulnerability_scanning/tests/test_security_fixes.py
Due: bun-lint, ruff-format, ruff

feat: add robust database connection error handling
  .github/workflows/ci-cd.yml
  core/apis.py
  core/schemas.py
  core/tests/test_api_database_error_handling.py
  sboms/tests/test_database_error_handling.py
  sboms/utils.py
Due: ruff-format, ruff

fix: resolve N+1 query issue in vulnerability scanning APIs
  vulnerability_scanning/apis.py
Due: ruff-format, ruff

feat: rename API endpoints from /teams to /workspaces
  .github/ISSUE_TEMPLATE/security-enhancement.md
  core/js/components/EditableSingleField.vue
  sbomify/apis.py
  teams/apis.py
  teams/js/components/TeamBranding.vue
  teams/js/components/VulnerabilitySettings.vue
  teams/schemas.py
  teams/tests.py
  vulnerability_scanning/apis.py
  vulnerability_scanning/js/components/VulnerabilityTimeSeries.vue
  vulnerability_scanning/tests/test_apis.py
  vulnerability_scanning/tests/test_security_fixes.py
Due: bun-lint, markdownlint, ruff-format, ruff

feat: enhance CI/CD with multi-registry Docker publishing and container scanning
  .github/workflows/ci-cd.yml
  pyproject.toml
Due: none

Lock down process a bit further
  .github/workflows/ci-cd.yml
Due: none

Fixes permission
  .github/workflows/ci-cd.yml
Due: none

Fixes tags
  .github/workflows/ci-cd.yml
Due: none

Change attestation
  .github/workflows/ci-cd.yml
Due: none

Use images rather than re-build image on deploy
  .github/workflows/ci-cd.yml
Due: none

Fixes permission for attestation
  .github/workflows/ci-cd.yml
Due: none

Adds proper prefix to attestation
  .github/workflows/ci-cd.yml
Due: none

Use Docker Hub image instead of GitHub one
  .github/workflows/ci-cd.yml
Due: none

Refactors `docker-compose.*`
  DEVELOPER.md
  README.md
  billing/apps.py
  core/adapters.py
  docker-compose.dev.yml
  docker-compose.yml
  docs/deployment.md
Due: markdownlint, ruff-format, ruff

More tweaks
  README.md
  docker-compose.yml
Due: markdownlint

Removes step
  .github/workflows/ci-cd.yml
Due: none

Fixes navbar issues from Bootstrap 5 rewrite
  core/templates/core/base.html.j2
  docker-compose.dev.yml
  static/css/layout.css
  static/css/workspace-override.css
  teams/templates/teams/team_selection_dropdown.html.j2
Due: none

Tweaks cursor rules
  .cursor/rules/django.mdc
  .cursor/rules/general.mdc
  .cursor/rules/javascript-typescript.mdc
  .cursor/rules/python.mdc
  .cursor/rules/vue.mdc
Due: none

Refactors getting started guide to new SSR model.
  bin/developer_mode.sh
  core/templates/core/base.html.j2
  core/templates/core/components/onboarding_wizard.html.j2
  core/templates/core/components/sidebar.html.j2
  core/templates/core/sidebar.html.j2
  core/views.py
  static/css/getting-started-wizard.css
  static/css/main.css
  teams/forms.py
  teams/js/getting-started-wizard.ts
  teams/js/main.ts
  teams/signals/handlers.py
  teams/templates/getting_started_wizard.html.j2
  teams/templates/teams/getting_started_wizard.html.j2
  teams/tests/test_getting_started_wizard.py
  teams/tests/test_onboarding_wizard.py
  teams/urls.py
  teams/views.py
Due: bun-lint, ruff-format, ruff

Fixes up dashboard
  Dockerfile
  core/templates/core/component_details_private.html.j2
  core/templates/core/dashboard.html.j2
  core/tests/integration/test_ui_workflows.py
  core/views.py
  sboms/js/components/DashboardStats.vue
  sboms/js/main.ts
  static/css/responsive.css
Due: bun-lint, ruff-format, ruff

Refactors Releases section.
  bin/developer_mode.sh
  core/apis.py
  core/js/components/all-releases-table.ts
  core/js/components/release-artifacts-modal.ts
  core/js/components/release-artifacts-table.ts
  core/js/components/release-crud-modal.ts
  core/js/components/releases-crud.ts
  core/js/main.ts
  core/js/type_defs.d.ts
  core/templates/core/components/all_releases_table.html.j2
  core/templates/core/components/download_card.html.j2
  core/templates/core/components/public_release_artifacts.html.j2
  core/templates/core/components/release_artifacts_table.html.j2
  core/templates/core/components/release_modal.html.j2
  core/templates/core/components/releases_table.html.j2
  core/templates/core/components/standard_table.html.j2
  core/templates/core/product_releases_private.html.j2
  core/templates/core/release_details_private.html.j2
  core/templates/core/release_details_public.html.j2
  core/templates/core/releases_dashboard.html.j2
  core/tests/test_release_pages_migration.py
  core/views.py
  static/css/components.css
  static/css/pages.css
  static/css/team-members.css
Due: bun-lint, ruff-format, ruff

ci: Restore dependency pinning and minimise token permissions
  .github/workflows/ci-cd.yml
Due: none

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Due: none

Move to uvicorn
  Dockerfile
  bin/developer_mode.sh
  bin/start_development_environment.sh
  poetry.lock
  pyproject.toml
Due: none

fix: add TypeScript type annotation for SweetAlert2 result parameter
  core/js/components/SiteNotifications.vue
Due: bun-lint

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
