Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: poetry run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: poetry run ruff check .
  language: system
  pass_filenames: false

fix(ci): add required permissions for GitHub Actions attestations
  .github/workflows/ci-cd.yml
Due: none

attemts to fix attestation permission error
  .github/workflows/ci-cd.yml
Due: none

Tweaks production gunicorn/uvicorn setup
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

Fix syntax
  Dockerfile
Due: none

Fix: linter
  .github/workflows/ci-cd.yml
  sbomify/apps/__init__.py
  sbomify/apps/teams/views.py
Due: ruff-format, ruff

Fix: linter errors
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/email_notifications.py
  sbomify/apps/billing/notifications.py
  sbomify/apps/billing/views.py
  sbomify/apps/core/apis.py
  sbomify/apps/vulnerability_scanning/tasks.py
  sbomify/tasks.py
Due: ruff-format, ruff

Refactor: Update hardcoded module paths in tests and scripts to use sbomify.apps structure
  Dockerfile
  fix_remaining_paths.py
  sbomify/apps/billing/tests/test_billing_processing.py
  sbomify/apps/billing/tests/test_email_notifications.py
  sbomify/apps/billing/tests/test_views.py
  sbomify/apps/billing/tests/test_views_extended.py
  sbomify/apps/core/management/commands/create_pagination_test_data.py
  sbomify/apps/core/tests/s3_fixtures.py
  sbomify/apps/core/tests/test_apis.py
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/core/tests/test_release_apis.py
  sbomify/apps/core/tests/test_release_models.py
  sbomify/apps/notifications/tests.py
  sbomify/apps/sboms/management/commands/create_test_sbom_environment.py
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/sboms/tests/test_sbom_schemas.py
  sbomify/apps/sboms/tests/test_utils.py
  sbomify/apps/sboms/tests/test_views.py
  sbomify/apps/sboms/tests/test_vulnerability_scanning.py
  sbomify/apps/teams/tests.py
Due: ruff-format, ruff

Refactor: Update Dockerfile to create app directory structure and adjust file copy paths
  Dockerfile
  fix_remaining_paths.py
Due: ruff-format, ruff

Refactor: Update linter paths and TypeScript configuration to align with sbomify/apps structure
  package.json
  sbomify/apps/core/js/components/ComponentMetaInfoEditor.vue
  sbomify/apps/core/js/components/PublicPageLayout.vue
  sbomify/apps/core/js/main.ts
  tsconfig.app.json
Due: bun-lint

Refactor: Update Dockerfile to correct static file copy paths and adjust CI/CD workflow to disable fail-fast
  .github/workflows/ci-cd.yml
  Dockerfile
Due: none

Refactor: Update manifest.json to reflect new sbomify/apps directory structure for JavaScript files
  sbomify/static/manifest.json
Due: none

Refactor: Update test_settings.py and manifest.json to align JavaScript file paths with sbomify/apps directory structure
  sbomify/static/manifest.json
  sbomify/test_settings.py
Due: ruff-format, ruff

Refactor: Update test files to use sbomify.apps module paths for consistency
  sbomify/apps/core/tests/test_api_database_error_handling.py
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/core/tests/test_utils.py
  sbomify/apps/sboms/tests/test_database_error_handling.py
  sbomify/apps/sboms/tests/test_ntia_integration.py
  sbomify/apps/sboms/tests/test_ntia_task.py
  sbomify/apps/sboms/tests/test_signal_exceptions.py
  sbomify/apps/sboms/tests/test_signed_urls.py
  sbomify/apps/vulnerability_scanning/tests/test_clients.py
  sbomify/apps/vulnerability_scanning/tests/test_integration.py
  sbomify/apps/vulnerability_scanning/tests/test_services.py
Due: ruff-format, ruff

Update Dockerfile
  Dockerfile
Due: none

Apply suggestions from code review
  sbomify/apps/__init__.py
Due: ruff-format, ruff

Enhance logging: Add comments to clarify sensitive data handling in compliance check and vulnerability scan triggers
  sbomify/apps/sboms/signals.py
Due: ruff-format, ruff

Improve logging: Simplify warning messages for missing billing plans in compliance checks and vulnerability scans
  sbomify/apps/sboms/signals.py
Due: ruff-format, ruff

Fix: test
  sbomify/apps/sboms/tests/test_signal_exceptions.py
Due: ruff-format, ruff

Migration: django-vite(vue.js) to django-htmx (Dashboard page)
  poetry.lock
  pyproject.toml
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/js/type_defs.d.ts
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/templates/core/dashboard_base.html.j2
  sbomify/apps/core/views.py
  sbomify/apps/sboms/js/components/DashboardStats.vue
  sbomify/apps/sboms/js/main.ts
  sbomify/settings.py
Due: bun-lint, ruff-format, ruff

Enhancement: Update dashboard template to utilize django-htmx for dynamic content rendering and improve layout structure.
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/core/templates/core/dashboard.html.j2
Due: none

Refactor: Clean up imports in dashboard view and streamline HTML structure in dashboard template for improved readability.
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/views.py
Due: ruff-format, ruff

Refactor: Update dashboard view to retrieve current team from session and adjust product, project, and component counts accordingly.
  sbomify/apps/core/views.py
Due: ruff-format, ruff

Refactor: Update dashboard view to handle current team retrieval more robustly and adjust test assertions for UI component class names.
  sbomify/apps/core/tests/integration/test_ui_workflows.py
  sbomify/apps/core/views.py
Due: ruff-format, ruff

security: Run Docker containers as non-root user (nobody)
  Dockerfile
  bin/developer_mode.sh
Due: none

fix: resolve Stripe "Invalid address" error during trial subscription creation
  sbomify/apps/billing/stripe_client.py
  sbomify/apps/billing/tests/test_stripe_client.py
  sbomify/apps/billing/tests/test_tax_collection_integration.py
  sbomify/apps/billing/urls.py
  sbomify/apps/billing/views.py
Due: ruff-format, ruff

fix: resolve "Invalid address" error in trial subscription creation
  sbomify/apps/core/adapters.py
  sbomify/apps/core/management/commands/fix_missing_trial_subscriptions.py
  sbomify/apps/teams/signals.py
  sbomify/apps/teams/signals/handlers.py
Due: ruff-format, ruff

More linting
  sbomify/apps/core/adapters.py
  sbomify/apps/core/management/commands/fix_missing_trial_subscriptions.py
  sbomify/apps/teams/signals.py
  sbomify/apps/teams/signals/handlers.py
Due: ruff-format, ruff

Fixes key name
  sbomify/apps/core/management/commands/fix_missing_trial_subscriptions.py
Due: ruff-format, ruff

fix: resolve "Invalid address" error in OIDC trial subscription creation
  sbomify/apps/core/adapters.py
  sbomify/apps/core/management/commands/fix_missing_trial_subscriptions.py
Due: ruff-format, ruff

refactor: apply code review improvements
  sbomify/apps/core/adapters.py
  sbomify/apps/core/management/commands/fix_missing_trial_subscriptions.py
  sbomify/apps/teams/signals.py
  sbomify/apps/teams/signals/handlers.py
Due: ruff-format, ruff

Linting
  sbomify/apps/core/adapters.py
Due: ruff-format, ruff

fix: correct Member model query in trial subscription creation
  sbomify/apps/core/management/commands/fix_missing_trial_subscriptions.py
Due: ruff-format, ruff

Migration: django-vite(vue.js) to django-htmx (Components page)
  sbomify/apps/core/js/components/AddComponentForm.vue
  sbomify/apps/core/js/components/ComponentsList.vue
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/core/templates/core/components/messages.htmx.j2
  sbomify/apps/core/templates/core/components_dashboard.html.j2
  sbomify/apps/core/tests/integration/test_ui_workflows.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views.py
  vite.config.ts
Due: bun-lint, ruff-format, ruff

Update CI/CD workflows to remove explicit branch references for pull requests, streamlining trigger conditions.
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
Due: none

Refactor: Clean up unused imports in APIs and update component class names in templates and tests for consistency. Adjust assertions in UI workflow tests to reflect changes in component structure.
  sbomify/apps/core/apis.py
  sbomify/apps/core/templates/core/components_dashboard.html.j2
  sbomify/apps/core/tests/integration/test_ui_workflows.py
  sbomify/apps/sboms/tests/test_views.py
Due: ruff-format, ruff

feat: Add comprehensive user onboarding system
  .github/workflows/ci-cd.yml
  pyproject.toml
  sbomify/apps/onboarding/__init__.py
  sbomify/apps/onboarding/admin.py
  sbomify/apps/onboarding/apps.py
  sbomify/apps/onboarding/cron.py
  sbomify/apps/onboarding/migrations/0001_initial.py
  sbomify/apps/onboarding/migrations/__init__.py
  sbomify/apps/onboarding/models.py
  sbomify/apps/onboarding/services.py
  sbomify/apps/onboarding/signals.py
  sbomify/apps/onboarding/tasks.py
  sbomify/apps/onboarding/templates/onboarding/emails/base.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/first_component_sbom.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/welcome.html.j2
  sbomify/apps/onboarding/tests.py
  sbomify/apps/onboarding/utils.py
  sbomify/apps/onboarding/views.py
  sbomify/apps/teams/fixtures.py
  sbomify/settings.py
Due: ruff-format, ruff

Minor documentation
  sbomify/apps/onboarding/cron.py
Due: ruff-format, ruff

Fixes admin error
  sbomify/apps/onboarding/admin.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
