Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: https://github.com/python-poetry/poetry
    rev: '2.1.1'  # add version here
    hooks:
      - id: poetry-check

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: poetry run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: poetry run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

fix: Ensure that test_data SBOMs are skipped by scorecard vuln check
  .dockerignore
  sboms/tests/test_data/osv-scanner.toml
Due: none

fix: Address code review concerns with comprehensive task refactoring improvements
  CONTRIBUTING.md
  SECURITY.md
  poetry.lock
  pyproject.toml
  sbomify/tasks.py
  vulnerability_scanning/services.py
  vulnerability_scanning/tasks.py
Due: markdownlint, ruff-format, ruff

docs: Add scorecard and best practices badges
  README.md
Due: markdownlint

Fixes CI erors
  Dockerfile
  bun.lock
  package.json
Due: none

More build process tweaks
  Dockerfile
  core/js/main.ts
  package.json
Due: bun-lint

Fixes missing static files
  Dockerfile
Due: none

fix: resolve static file conflicts and staging CSS corruption
  Dockerfile
  sbomify/settings.py
  vite.config.ts
Due: bun-lint, ruff-format, ruff

fix: add static_url_prefix to django-vite configuration
  sbomify/settings.py
  vite.config.ts
Due: bun-lint, ruff-format, ruff

Fixes static prefix
  sbomify/settings.py
  vite.config.ts
Due: bun-lint, ruff-format, ruff

fix: Django Vite dev server configuration after staging changes
  docker-compose.dev.yml
  sbomify/settings.py
  static/css/layout.css
  vite.config.ts
  vulnerability_scanning/migrations/0002_alter_vulnerabilityscanresult_findings_and_more.py
Due: bun-lint, ruff-format, ruff

fix(ui): make dashboard footer full-bleed under sticky sidebar; use CSS var
  core/templates/core/components/footer.html.j2
  core/templates/core/dashboard_base.html.j2
  sbomify/settings.py
  static/css/layout.css
Due: ruff-format, ruff

feat: Add NTIA compliance validation for SBOMs
  sbomify/tasks.py
  vulnerability_scanning/tasks.py
Due: ruff-format, ruff

refactor: eliminate DRY violations in SBOM data processing tasks
  sbomify/task_utils.py
  sbomify/tasks.py
  sboms/tests/test_ntia_task.py
  sboms/utils.py
  vulnerability_scanning/services.py
  vulnerability_scanning/tasks.py
Due: ruff-format, ruff

Fixes tests
  .github/workflows/ci-cd.yml
  sboms/tests/test_apis.py
  sboms/tests/test_ntia_integration.py
  sboms/tests/test_ntia_task.py
  sboms/tests/test_vulnerability_scanning.py
  test_results.txt
Due: ruff-format, ruff

Removes file
  test_results.txt
Due: none

Fixes tests
  licensing/tests/test_api.py
  licensing/tests/test_integration.py
  licensing/tests/test_loader.py
Due: ruff-format, ruff

Fixes more test issues
  core/tests/test_apis.py
  documents/tests/test_apis.py
  sboms/tests/test_ntia_integration.py
  vulnerability_scanning/tests/test_clients.py
Due: ruff-format, ruff

Improve vuln handling
  sboms/signals.py
  sboms/tests/test_signal_exceptions.py
Due: ruff-format, ruff

Simplify queue system
  vulnerability_scanning/tasks.py
Due: ruff-format, ruff

Fixes task import
  sbomify/tasks.py
Due: ruff-format, ruff

fix: resolve DT API response format and task import ordering
  sbomify/tasks.py
  vulnerability_scanning/services.py
Due: ruff-format, ruff

Fixes limit
  vulnerability_scanning/migrations/0003_alter_dependencytrackserver_max_concurrent_scans.py
  vulnerability_scanning/models.py
  vulnerability_scanning/services.py
Due: ruff-format, ruff

Adds tests
  vulnerability_scanning/tests/test_integration.py
Due: ruff-format, ruff

feat: improve Dependency Track server availability with just-in-time health checks
  vulnerability_scanning/services.py
  vulnerability_scanning/tasks.py
  vulnerability_scanning/tests/test_services.py
Due: ruff-format, ruff

fix: Version number to match hash
  .github/workflows/codeql.yml
  .github/workflows/scorecards.yml
Due: none

fix: resolve pre-commit hook violations and improve template accessibility
  core/js/main.ts
  core/templates/core/base.html.j2
  core/templates/core/components/footer.html.j2
  core/templates/core/components/sidebar.html.j2
  core/templates/core/components/topnav.html.j2
  core/templates/core/dashboard_base.html.j2
  static/css/components.css
  static/css/layout.css
  teams/templates/teams/dashboard.html.j2
Due: bun-lint

feat: implement phase 2 responsive design overhaul with mobile-first approach
  core/js/main.ts
  core/templates/core/base.html.j2
  core/templates/core/components/sidebar.html.j2
  core/templates/core/components/topnav.html.j2
  core/templates/core/topnav.html.j2
  core/templates/core/user-dropdown.html.j2
  static/css/components.css
  static/css/layout.css
  static/css/responsive.css
  teams/templates/teams/team_selection_dropdown.html.j2
Due: bun-lint

feat: implement comprehensive mobile responsiveness overhaul
  core/js/components/ItemsListTable.vue
  core/templates/core/components_dashboard.html.j2
  documents/js/components/DocumentsTable.vue
  sboms/js/components/SbomsDataTable.vue
  static/css/layout.css
  static/css/responsive.css
  vulnerability_scanning/js/components/VulnerabilityTimeSeries.vue
Due: bun-lint

Fixes test
  core/tests/templates/test_base_template.py
Due: ruff-format, ruff

Fixes copilot code review error
  core/js/main.ts
Due: bun-lint

fix(teams): resolve JSON parsing error for billing plan limits in frontend
  teams/templates/teams/team_details.html.j2
  teams/templates/teams/team_settings.html.j2
  teams/templatetags/__init__.py
  teams/templatetags/json_extras.py
Due: ruff-format, ruff

feat: improve branding UI and fix template security issues
  billing/templates/billing/_enterprise_contact_form.html.j2
  billing/templates/billing/public_enterprise_contact.html.j2
  teams/js/components/TeamBranding.vue
  vulnerability_scanning/tests/test_services.py
Due: bun-lint, ruff-format, ruff

feat(branding): enhance file upload with existing file support and fix URL updates
  core/js/components/FileDragAndDrop.vue
  core/tests/fixtures.py
  core/tests/templates/test_base_template.py
  teams/apis.py
  teams/js/components/TeamBranding.vue
Due: bun-lint, ruff-format, ruff

fix(teams): fix branding asset URL generation after upload/deletion
  teams/apis.py
  teams/tests.py
Due: ruff-format, ruff

fix: prevent duplicate vulnerability scan results from dependency track
  vulnerability_scanning/services.py
  vulnerability_scanning/tasks.py
Due: ruff-format, ruff

feat: add comprehensive support contact form with success page
  billing/templates/billing/_enterprise_contact_form.html.j2
  core/forms.py
  core/templates/core/components/footer.html.j2
  core/templates/core/support_contact.html.j2
  core/templates/core/support_contact_success.html.j2
  core/urls.py
  core/views.py
  static/css/pages.css
  static/css/utilities.css
Due: ruff-format, ruff

Do not allow for anoymous support tickets
  core/views.py
Due: ruff-format, ruff

Fixes styling of login page
  core/templates/socialaccount/login.html.j2
  templates/account/login.html.j2
Due: none

fix(teams): resolve branding logo reversion with atomic uploads and unique filenames
  teams/apis.py
  teams/tests.py
Due: ruff-format, ruff
