Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: poetry run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: poetry run ruff check .
  language: system
  pass_filenames: false

fix: Enable session auth for component SBOM/document API endpoints
  core/apis.py
  core/tests/integration/test_ui_workflows.py
  core/tests/test_crud_apis.py
Due: ruff-format, ruff

perf: fix N+1 queries in component detail views and update API tests
  core/tests/test_crud_apis.py
  core/views.py
Due: ruff-format, ruff

fix(core): resolve AttributeError for Component.get_products in signal handlers
  core/signals.py
Due: ruff-format, ruff

Patch release for Sentry issues
  pyproject.toml
Due: none

Fixes patch version
  pyproject.toml
Due: none

feat: add public API access and comprehensive pagination support
  CHANGELOG.md
  core/apis.py
  core/js/components/ItemAssignmentManager.vue
  core/js/components/ItemSelectModal.vue
  core/js/components/ProductIdentifiers.vue
  core/js/components/ProductLinks.vue
  core/js/components/ProductReleases.vue
  core/js/components/PublicReleaseArtifacts.vue
  core/js/components/ReleaseArtifacts.vue
  core/js/components/ReleasesList.vue
  core/schemas.py
  core/tests/test_crud_apis.py
  core/tests/test_document_tagging.py
  core/tests/test_error_consistency.py
  core/tests/test_permission_consistency.py
  core/tests/test_public_access_apis.py
  core/tests/test_release_apis.py
  core/tests/test_release_artifacts_api.py
  core/tests/test_sbom_tagging.py
  licensing/tests/test_api.py
  licensing/tests/test_integration.py
  pyproject.toml
  sboms/tests/test_apis.py
Due: bun-lint, markdownlint, ruff-format, ruff

fix: add error handling for releases without products
  core/apis.py
  core/js/components/ReleasesList.vue
Due: bun-lint, ruff-format, ruff

Fixes up rendering
  core/js/components/ProductIdentifiers.vue
  core/js/components/ReleasesList.vue
  pyproject.toml
Due: bun-lint

Fixes barcode loading
  core/js/components/ProductIdentifiers.vue
Due: bun-lint

feat: migrate component metadata from JSON to native database fields
  core/apis.py
  sboms/migrations/0035_migrate_component_metadata_to_native_fields.py
  sboms/models.py
  sboms/schemas.py
  sboms/schemas/cdx_bom-1.5.schema.json
  sboms/schemas/cdx_bom-1.6.schema.json
  sboms/schemas/spdx_2.3-schema.json
  sboms/schemas/spdx_2.3.1-schema.json
  sboms/utils.py
  teams/views.py
Due: ruff-format, ruff

Migrates licenses too
  core/apis.py
  sboms/migrations/0035_migrate_component_metadata_to_native_fields.py
  sboms/models.py
  sboms/tests/test_apis.py
  sboms/utils.py
Due: ruff-format, ruff

Fix NTIA compliance popover not showing detailed error information
  sboms/js/components/SbomsTable.vue
Due: bun-lint

fix: update frontend dependencies to resolve security vulnerabilities and compatibility issues
  bun.lock
  package.json
Due: none

Bumps version
  pyproject.toml
Due: none

feat: enhance document standards compliance and SBOM external references
  core/apis.py
  core/management/commands/inspect_product.py
  core/tests/test_apis.py
  documents/js/components/DocumentUpload.vue
  documents/js/components/DocumentsTable.vue
  documents/migrations/0003_update_document_types_to_standards.py
  documents/migrations/0004_migrate_existing_document_types_data.py
  documents/models.py
  documents/tests/test_document_model.py
  sboms/js/components/SbomsDataTable.vue
  sboms/js/components/SbomsTable.vue
  sboms/tests/test_utils.py
  sboms/tests/test_utils_external_references.py
  sboms/utils.py
Due: bun-lint, ruff-format, ruff

feat: add signed URLs for secure private component access
  README.md
  core/apis.py
  core/management/commands/inspect_product.py
  core/utils.py
  core/views.py
  docker-compose.yml
  documents/apis.py
  documents/tests/test_models.py
  sbomify/apis.py
  sbomify/settings.py
  sbomify/test_settings.py
  sboms/apis.py
  sboms/tests/test_signed_urls.py
  sboms/tests/test_utils.py
  sboms/tests/test_utils_external_references.py
  sboms/utils.py
Due: markdownlint, ruff-format, ruff

feat: enhance release display and add document editing functionality
  core/js/components/ReleaseArtifacts.vue
  core/js/components/ReleaseList.vue
  core/js/composables/useCommonUtils.ts
  core/js/composables/useReleaseDisplay.ts
  core/js/composables/useUrlGeneration.ts
  core/js/constants.ts
  core/js/main.ts
  core/static/css/release-badges.css
  core/templates/core/base.html.j2
  documents/js/components/DocumentsTable.vue
  pyproject.toml
  sboms/js/components/SbomsDataTable.vue
Due: bun-lint

UI improvements: standardize workspace header and fix styling issues
  core/js/components/ProductReleases.vue
  core/js/components/ReleaseList.vue
  pyproject.toml
  sboms/js/components/NTIAComplianceBadge.vue
  teams/templates/teams/dashboard.html.j2
Due: bun-lint

feat: consolidate team settings into unified tabbed interface
  core/js/components/AccessTokensList.vue
  core/js/components/CopyToken.vue
  core/templates/core/components/sidebar.html.j2
  core/templates/core/components/topnav.html.j2
  core/templates/core/settings.html.j2
  core/templates/core/sidebar.html.j2
  core/templates/core/user-dropdown.html.j2
  core/tests/e2e/test_critical_paths.py
  teams/js/components/TeamBranding.vue
  teams/templates/teams/team_selection_dropdown.html.j2
  teams/templates/teams/team_settings.html.j2
  teams/tests.py
  teams/urls.py
  teams/views.py
Due: bun-lint, ruff-format, ruff

Code review fixes
  static/css/team-settings.css
  teams/js/main.ts
  teams/templates/teams/team_settings.html.j2
Due: bun-lint

Fixes naming Free to Community
  billing/js/components/PlanSelection.vue
  billing/migrations/0002_billing_plans_data.py
  core/js/components/PlanCard.vue
  teams/js/components/TeamBilling.vue
Due: bun-lint, ruff-format, ruff

build(deps): Dependabot config for actions, npm and PyPI
  .github/dependabot.yml
Due: none

fix: PyPI grouping
  .github/dependabot.yml
Due: none

docs: Repo boilerplate
  CONTRIBUTING.md
  SECURITY.md
  code_of_conduct.md
Due: markdownlint

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/ci-cd.yml
Due: none

chore: Files reformatted with Ruff 0.12.4
  billing/billing_processing.py
  billing/views.py
  core/apis.py
  core/management/commands/create_pagination_test_data.py
  core/management/commands/inspect_product.py
  core/signals.py
  core/utils.py
  sbomify/tasks.py
  sboms/management/commands/create_test_sbom_environment.py
  sboms/ntia_validator.py
  sboms/sbom_validator.py
  teams/admin.py
Due: ruff-format, ruff

ci: Restrict workflow token permissions
  .github/workflows/ci-cd.yml
Due: none

ci: Add CodeQL workflow
  .github/workflows/codeql.yml
Due: none

build(deps): Pin Docker images and add Dockerfile to Dependabot config
  .github/dependabot.yml
  Dockerfile
Due: none

Fixes feedback from @nscuro
  vulnerability_scanning/clients.py
  vulnerability_scanning/services.py
  vulnerability_scanning/tests/test_clients.py
Due: ruff-format, ruff

Fixes CI build and linting
  Dockerfile
  billing/js/components/PlanSelection.vue
  documents/js/components/DocumentUpload.vue
  documents/js/components/DocumentsTable.vue
  package.json
  sboms/templates/sboms/sbom_vulnerabilities.html.j2
  teams/js/components/TeamBranding.vue
  teams/js/components/VulnerabilitySettings.vue
Due: bun-lint

Removes a bunch of linting exceptions
  billing/js/billing.spec.ts
  billing/js/components/PlanSelection.spec.ts
  core/js/components/ComponentMetaInfo.spec.ts
  core/js/components/ComponentMetaInfo.vue
  vulnerability_scanning/js/components/VulnerabilityTimeSeries.vue
Due: bun-lint

feat: add description field to Product model
  core/apis.py
  core/js/components/AddProductForm.vue
  core/schemas.py
  sboms/migrations/0036_add_product_description.py
  sboms/models.py
Due: bun-lint, ruff-format, ruff

security: Fix CodeQL security alerts and harden error handling
  billing/apis.py
  billing/tests/test_views.py
  billing/tests/test_views_extended.py
  billing/views.py
  core/apis.py
  core/management/commands/migrate_to_keycloak.py
  core/utils.py
  documents/apis.py
  documents/views.py
  licensing/loader.py
  sbomify/tasks.py
  sboms/apis.py
  teams/apis.py
  vulnerability_scanning/apis.py
  vulnerability_scanning/clients.py
  vulnerability_scanning/services.py
  vulnerability_scanning/tasks.py
Due: ruff-format, ruff

ci: Add OpenSSF Scorecard workflow
  .github/workflows/scorecards.yml
Due: none

Adds dependencies that went missing in merge conflict
  bun.lock
  package.json
Due: none

ci: Set top level read only permissions
  .github/workflows/codeql.yml
Due: none

refactor: Reorganize SBOM processing and add cron scheduling for vulnerability tasks
  sbomify/tasks.py
  vulnerability_scanning/tasks.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
