Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: poetry run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: poetry run ruff check .
  language: system
  pass_filenames: false

Ditches most of django templates for product/project/component lisings
  core/apis.py
  core/js/components/ComponentsList.vue
  core/js/components/ItemsListTable.vue
  core/js/components/ProductsList.vue
  core/js/components/ProjectsList.vue
  core/js/main.ts
  core/templates/core/component_details_private.html.j2
  core/templates/core/components_dashboard.html.j2
  core/templates/core/product_details_private.html.j2
  core/templates/core/products_dashboard.html.j2
  core/templates/core/project_details_private.html.j2
  core/templates/core/projects_dashboard.html.j2
  core/views.py
  teams/templates/teams/dashboard.html.j2
  teams/templates/teams/team_invite_email.html.j2
  teams/tests.py
Due: bun-lint, ruff-format, ruff

Fixes tests
  core/js/components/ComponentsList.spec.ts
  core/js/components/ItemsListTable.spec.ts
  core/js/components/ProductsList.spec.ts
  core/js/components/ProjectsList.spec.ts
  core/tests/integration/test_ui_workflows.py
  core/tests/test_crud_apis.py
  sboms/tests/test_views.py
Due: bun-lint, ruff-format, ruff

Tweaks document upload form
  README.md
  documents/js/components/DocumentUpload.vue
  documents/js/components/DocumentsTable.vue
  documents/models.py
Due: bun-lint, markdownlint, ruff-format, ruff

feat: comprehensive public page redesign with enhanced UI and API improvements
  core/apis.py
  core/js/common_vue.js
  core/js/components/ExportDataCard.vue
  core/js/components/PublicCard.vue
  core/js/components/PublicDownloadCard.vue
  core/js/components/PublicPageLayout.vue
  core/js/components/PublicProductProjects.vue
  core/js/components/PublicProjectComponents.vue
  core/js/main.ts
  core/templates/core/component_detailed_public.html.j2
  core/templates/core/component_details_public.html.j2
  core/templates/core/components/breadcrumb.html.j2
  core/templates/core/product_details_private.html.j2
  core/templates/core/product_details_public.html.j2
  core/templates/core/project_details_public.html.j2
  core/templates/core/public_base.html.j2
  core/templatetags/__init__.py
  core/templatetags/brand_tags.py
  core/templatetags/breadcrumb_tags.py
  core/tests/test_breadcrumb_tags.py
  core/views.py
  documents/apis.py
  documents/js/components/DocumentsTable.vue
  documents/templates/documents/document_details_public.html.j2
  documents/tests/test_apis.py
  documents/views.py
  sboms/apis.py
  sboms/js/components/SbomActionsCard.vue
  sboms/js/components/SbomsTable.vue
  sboms/templates/sboms/sbom_details_public.html.j2
  sboms/tests/test_apis.py
  sboms/tests/test_utils.py
  sboms/tests/test_views.py
  sboms/utils.py
Due: bun-lint, ruff-format, ruff

Code review feedback
  pyproject.toml
  sboms/utils.py
Due: ruff-format, ruff

More cleanup and code review fixes
  sboms/tests/test_utils.py
Due: ruff-format, ruff

Adds missing JS references and paths
  Dockerfile
  core/js/components/PublicPageLayout.vue
Due: bun-lint

Fixes brand styling on public pages
  core/js/components/PublicPageLayout.vue
  core/templates/core/public_base.html.j2
Due: bun-lint

Fixes Dockerfile
  Dockerfile
Due: none

More stage fixes
  vite.config.ts
Due: bun-lint

Sort document type list
  documents/js/components/DocumentUpload.vue
Due: bun-lint

Enables enrichment
  .github/workflows/ci-cd.yml
Due: none

Expose documents to admin.
  core/admin.py
  documents/admin.py
Due: ruff-format, ruff

More admin fixes
  core/admin.py
  documents/admin.py
  teams/admin.py
Due: ruff-format, ruff

Tweaks UI/UX and fixes tests.
  core/views.py
  documents/migrations/0002_alter_document_document_type.py
  sbomify/tasks.py
  sboms/js/components/NTIAComplianceBadge.vue
  sboms/js/components/SbomsTable.vue
  sboms/js/main.ts
  sboms/migrations/0032_add_ntia_compliance_fields.py
  sboms/models.py
  sboms/ntia_validator.py
  sboms/signals.py
  sboms/templates/sboms/sbom_details_private.html.j2
  sboms/templates/sboms/sbom_details_public.html.j2
  sboms/tests/test_ntia_integration.py
  sboms/tests/test_ntia_task.py
  sboms/tests/test_ntia_validator.py
Due: bun-lint, ruff-format, ruff

Tweaks NTIA minimum check
  sboms/js/components/NTIAComplianceBadge.vue
Due: bun-lint

feat: implement product identifiers with billing restrictions and public display
  core/apis.py
  core/js/components/ProductIdentifiers.vue
  core/js/components/PublicCard.vue
  core/js/components/PublicPageLayout.vue
  core/js/main.ts
  core/schemas.py
  core/templates/core/product_details_private.html.j2
  core/tests/test_crud_apis.py
  core/views.py
  sboms/migrations/0033_add_product_identifiers.py
  sboms/models.py
Due: bun-lint, ruff-format, ruff

feat: Add product links support with comprehensive CRUD operations
  core/apis.py
  core/js/components/ProductLinks.vue
  core/js/components/PublicPageLayout.vue
  core/js/main.ts
  core/schemas.py
  core/templates/core/product_details_private.html.j2
  core/tests/test_crud_apis.py
  sboms/migrations/0034_add_product_links.py
  sboms/models.py
Due: bun-lint, ruff-format, ruff

feat: implement billing-based team user limits with enhanced UI
  billing/js/components/PlanSelection.vue
  billing/migrations/0005_add_max_users_to_billing_plan.py
  billing/migrations/0006_populate_plan_user_limits.py
  billing/migrations/0007_ensure_existing_teams_comply_with_user_limits.py
  billing/models.py
  billing/templates/billing/enterprise_contact.html.j2
  billing/tests/test_user_limits.py
  bun.lock
  core/js/components/ProductIdentifiers.vue
  core/templates/core/components/footer.html.j2
  package.json
  sboms/apis.py
  sboms/signals.py
  teams/js/components/TeamBilling.vue
  teams/js/components/TeamInvitations.vue
  teams/js/components/TeamMembers.vue
  teams/js/components/TeamsList.vue
  teams/js/main.ts
  teams/schemas.py
  teams/templates/teams/dashboard.html.j2
  teams/templates/teams/invite.html.j2
  teams/templates/teams/team_details.html.j2
  teams/templates/teams/team_settings.html.j2
  teams/utils.py
  teams/views.py
Due: bun-lint, ruff-format, ruff

Fixes test suite to run all tests
  .github/workflows/ci-cd.yml.bak
Due: none

Fixes tests
  core/apis.py
  core/tests/test_crud_apis.py
  sboms/tests/test_ntia_integration.py
  sboms/tests/test_utils.py
  teams/tests.py
  teams/views.py
Due: ruff-format, ruff

Fixes NTIA checks
  sboms/tests/test_ntia_integration.py
Due: ruff-format, ruff

Fixes test logic
  .github/workflows/ci-cd.yml
Due: none

refactor: standardize S3 mocking patterns across test suite
  conftest.py
  core/tests/s3_fixtures.py
  core/tests/test_s3_fixtures_examples.py
  documents/tests/test_apis.py
  documents/tests/test_views.py
  pyproject.toml
  sboms/tests/test_utils.py
  sboms/tests/test_views.py
Due: ruff-format, ruff

Fixes after code review
  core/apis.py
  core/apps.py
  core/migrations/0011_add_performance_indexes.py
  core/models.py
  core/signals.py
  sboms/utils.py
Due: ruff-format, ruff

Fixes broken test
  core/tests/test_release_apis.py
Due: ruff-format, ruff

fix(releases): Fix release editing errors and ensure latest releases exist
  core/apis.py
  core/tests/test_release_apis.py
Due: ruff-format, ruff

feat: add public enterprise contact form with Turnstile protection
  billing/forms.py
  billing/js/components/PlanSelection.vue
  billing/templates/billing/public_enterprise_contact.html.j2
  billing/views.py
  sbomify/settings.py
  sbomify/urls.py
Due: bun-lint, ruff-format, ruff

refactor: standardize API test authentication and improve team endpoints
  billing/billing_processing.py
  billing/tests/fixtures.py
  billing/tests/test_api.py
  billing/tests/test_billing_processing.py
  billing/tests/test_views.py
  billing/tests/test_views_extended.py
  billing/tests/tests.py
  conftest.py
  core/tests/shared_fixtures.py
  core/tests/test_apis.py
  core/tests/test_crud_apis.py
  core/tests/test_document_tagging.py
  core/tests/test_release_api.py
  core/tests/test_sbom_tagging.py
  documents/tests/test_apis.py
  sboms/tests/test_apis.py
  teams/apis.py
Due: ruff-format, ruff

Fixes from code review.
  billing/tests/test_billing_processing.py
  core/tests/shared_fixtures.py
  teams/tests.py
Due: ruff-format, ruff

Fixes final test
  teams/tests.py
Due: ruff-format, ruff

feat: refactor release APIs to use top-level endpoints
  core/apis.py
  core/js/components/EditableSingleField.vue
  core/js/components/ProductReleases.vue
  core/js/components/ReleaseArtifacts.vue
  core/js/components/ReleaseDangerZone.vue
  core/js/components/ReleasesList.vue
  core/schemas.py
  core/templates/core/product_releases_private.html.j2
  core/templates/core/product_releases_public.html.j2
  core/templates/core/release_details_private.html.j2
  core/templates/core/release_details_public.html.j2
  core/tests/test_release_api.py
  core/tests/test_release_apis.py
  core/tests/test_sbom_tagging.py
  core/utils.py
Due: bun-lint, ruff-format, ruff

feat(api): enhance API documentation and standardize authentication
  billing/apis.py
  core/apis.py
  licensing/api.py
  notifications/apis.py
  sbomify/apis.py
  teams/apis.py
Due: ruff-format, ruff

Fixes up API documentation further
  core/apis.py
  documents/apis.py
  sbomify/apis.py
  sboms/apis.py
Due: ruff-format, ruff

Adds test users and disable ssl in development
  README.md
  bin/keycloak-bootstrap.sh
  docker-compose.dev.yml
  docker-compose.yml
Due: markdownlint

Fixes layout on detailed sbom page
  core/templates/core/component_detailed_private.html.j2
  sboms/js/components/SbomActionsCard.vue
  sboms/js/components/SbomMetadataCard.vue
Due: bun-lint

feat: implement server-side pagination for SBOMs and Documents tables
  core/apis.py
  core/js/components/ItemsListTable.vue
  core/js/components/PaginationControls.spec.ts
  core/js/components/PaginationControls.vue
  core/management/commands/create_pagination_test_data.py
  core/schemas.py
  core/tests/test_apis.py
  documents/js/components/DocumentsTable.vue
  sboms/js/components/SbomsTable.vue
Due: bun-lint, ruff-format, ruff

fix: correct SBOM version display in release artifacts API
  core/apis.py
  core/js/components/ReleaseArtifacts.vue
  core/tests/test_release_artifacts_api.py
Due: bun-lint, ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
