Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: https://github.com/python-poetry/poetry
    rev: '2.1.1'  # add version here
    hooks:
      - id: poetry-check

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: poetry run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: poetry run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

Refactor templates for product and release details: standardize template inheritance, reorder static and tag loading, and enhance breadcrumb navigation for improved consistency and readability.
  sbomify/apps/core/templates/core/component_detailed_public.html.j2
  sbomify/apps/core/templates/core/component_details_public.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/product_releases_private.html.j2
  sbomify/apps/core/templates/core/product_releases_public.html.j2
  sbomify/apps/core/templates/core/project_details_public.html.j2
  sbomify/apps/core/templates/core/release_details_private.html.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/views/product_releases_private.py
  sbomify/apps/core/views/product_releases_public.py
Due: ruff-format, ruff

Refactor templates for product and release details: standardize template inheritance, reorder static and tag loading, and enhance breadcrumb navigation for improved consistency and readability. (#361)
  sbomify/apps/core/templates/core/component_detailed_public.html.j2
  sbomify/apps/core/templates/core/component_details_public.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/product_releases_private.html.j2
  sbomify/apps/core/templates/core/product_releases_public.html.j2
  sbomify/apps/core/templates/core/project_details_public.html.j2
  sbomify/apps/core/templates/core/release_details_private.html.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/views/product_releases_private.py
  sbomify/apps/core/views/product_releases_public.py
Due: ruff-format, ruff

Migrates from poetry to uv
  .cursor/rules/general.mdc
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  DEVELOPER.md
  Dockerfile
  README.md
  bin/release.sh
  docker-compose.yml
  docs/RELEASE.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: markdownlint

fixes ambigious warning
  pyproject.toml
Due: none

Only push to repo on tags and default branch
  .github/workflows/ci-cd.yml
Due: none

Update .github/workflows/ci-cd.yml
  .github/workflows/ci-cd.yml
Due: none

Switched sfrom frozen to locked
  .github/workflows/ci-cd.yml
  Dockerfile
Due: none

fixes cache dirs
  Dockerfile
Due: none

Tweak how we install venv
  Dockerfile
Due: none

fix: add ASGI lifespan protocol support
  conftest.py
  pyproject.toml
  sbomify/apps/core/tests/test_asgi.py
  sbomify/asgi.py
Due: ruff-format, ruff

Cut 0.18
  pyproject.toml
  uv.lock
Due: none

Removes temporary file
  CHANGELOG-v0.18.md
  README.md
Due: markdownlint

Removes accidental commit
  CHANGELOG-v0.18.md
Due: markdownlint

Fixes incorrect reference in README
  README.md
  docs/deployment.md
Due: markdownlint

Adds missing migration
  sbomify/apps/onboarding/migrations/0002_remove_onboardingemail_success_and_more.py
Due: ruff-format, ruff

fix: add migration to set Keycloak provider_id
  sbomify/apps/core/migrations/0012_fix_keycloak_provider_id.py
Due: ruff-format, ruff

Add workspace contact profiles for reusable supplier information
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/ComponentMetaInfo.vue
  sbomify/apps/core/js/components/ComponentMetaInfoDisplay.vue
  sbomify/apps/core/js/components/ComponentMetaInfoEditor.vue
  sbomify/apps/core/js/type_defs.d.ts
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/sboms/migrations/0037_component_contact_profile.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/sboms/utils.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/js/components/ContactProfiles.vue
  sbomify/apps/teams/js/main.ts
  sbomify/apps/teams/migrations/0015_contact_profiles.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/tests/test_contact_profiles.py
Due: bun-lint, ruff-format, ruff

fix: resolve Keycloak login MultipleObjectsReturned error
  sbomify/apps/core/migrations/0012_fix_keycloak_provider_id.py
  sbomify/apps/core/migrations/0012_remove_database_socialapp.py
Due: ruff-format, ruff

Update API endpoints from teams to workspaces for contact profiles
  sbomify/apps/core/js/components/ComponentMetaInfoEditor.vue
  sbomify/apps/teams/js/components/ContactProfiles.vue
Due: bun-lint

Improve component metadata API response handling and schema validation
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/ComponentMetaInfoEditor.vue
  sbomify/apps/core/schemas.py
  sbomify/apps/sboms/migrations/0037_component_contact_profile.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/js/components/ContactProfiles.vue
  sbomify/apps/teams/migrations/0015_contact_profiles.py
Due: bun-lint, ruff-format, ruff

fix: correct boolean environment variable quoting in docker-compose
  docker-compose.dev.yml
  docker-compose.yml
  sbomify/settings.py
Due: ruff-format, ruff

Rolls back incorrect change
  docker-compose.dev.yml
  sbomify/settings.py
Due: ruff-format, ruff

fix(dev): configure CORS for Vite dev server in development mode
  pyproject.toml
  sbomify/settings.py
  uv.lock
Due: ruff-format, ruff

Loosen up CORS in dev mode
  sbomify/settings.py
Due: ruff-format, ruff

feat(vulnerability): improve Dependency Track error handling and user visibility
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/sboms/views.py
  sbomify/apps/vulnerability_scanning/clients.py
  sbomify/apps/vulnerability_scanning/services.py
  sbomify/apps/vulnerability_scanning/tests/test_clients.py
Due: ruff-format, ruff

Refactor component metadata API response and fix label consistency
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/ComponentMetaInfoEditor.vue
  sbomify/apps/teams/js/components/ContactProfiles.vue
Due: bun-lint, ruff-format, ruff

Add custom model serializers to SBOM schemas and remove exclude_none from products endpoint
  sbomify/apps/core/apis.py
  sbomify/apps/sboms/schemas.py
Due: ruff-format, ruff

Adds onboarding flow in draft mode
  docs/onboarding.d2
  docs/onboarding.svg
Due: none

Wrap popovers in Teleport components to fix positioning issues
  sbomify/apps/core/js/components/ItemSelectModal.vue
  sbomify/apps/core/js/components/ProductIdentifiers.vue
  sbomify/apps/core/js/components/ProductLinks.vue
  sbomify/apps/core/js/components/ProductReleases.vue
  sbomify/apps/core/js/components/ReleaseArtifacts.vue
  sbomify/apps/documents/js/components/DocumentsTable.vue
Due: bun-lint

Replace hardcoded colors with CSS custom properties for theming consistency
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/templates/core/public_base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/static/css/components-dashboard.css
  sbomify/static/css/components/standard-card.css
  sbomify/static/css/components/stat-card.css
  sbomify/static/css/layout.css
  sbomify/static/css/projects-dashboard.css
  sbomify/static/css/public-base.css
  sbomify/static/css/tokens.css
Due: bun-lint

Replace hardcoded RGBA values with CSS custom property variables
  sbomify/static/css/components/standard-card.css
  sbomify/static/css/layout.css
  sbomify/static/css/main.css
  sbomify/static/css/tokens.css
Due: none

Migrations: Workspace page
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/templates/teams/dashboard.html.j2
  sbomify/apps/teams/templatetags/teams.py
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/urls.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/dashboard.py
  sbomify/static/css/components/delete-modal.css
  sbomify/static/css/components/teams-list.css
  sbomify/templates/components/modals/delete_modal.html.j2
  sbomify/templates/components/modals/form_modal.html.j2
Due: ruff-format, ruff

Debug
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
Due: none

Fix: tests
  sbomify/apps/sboms/tests/test_signal_exceptions.py
  sbomify/apps/teams/models.py
  sbomify/templates/components/modals/form_modal.html.j2
Due: ruff-format, ruff

Remove unnecessary docstring from Teams app views module
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

Refactor Teams dashboard layout to enhance workspace display and improve UI consistency
  sbomify/apps/teams/templates/teams/dashboard.html.j2
Due: none

Remove TeamsList component and update dashboard to reflect changes in workspace display
  sbomify/apps/teams/js/components/TeamsList.vue
  sbomify/apps/teams/js/main.ts
  sbomify/apps/teams/templates/teams/dashboard.html.j2
Due: bun-lint

Update CI/CD workflows to enable pull requests from the master branch
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
Due: none

Update djlint configuration to support both HTML and HTMX template extensions
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none
