Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: https://github.com/python-poetry/poetry
    rev: '2.1.1'  # add version here
    hooks:
      - id: poetry-check

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: poetry run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: poetry run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

Fixes import script with new SBOMs
  sboms/management/commands/create_test_sbom_environment.py
Due: ruff-format, ruff

feat: Implement CVE scanning and display results
  sbomify/settings.py
  sbomify/tasks.py
  sboms/apis.py
  sboms/signals.py
  sboms/templates/sboms/component_details_private.html
  sboms/templates/sboms/component_details_public.html
  sboms/templates/sboms/sbom_details_private.html
  sboms/templates/sboms/sbom_vulnerabilities.html
  sboms/urls.py
  sboms/views.py
Due: ruff-format, ruff

Fixes CVEs
  poetry.lock
Due: none

Fixes hard coded TTL for CVE report
  sbomify/settings.py
  sbomify/tasks.py
Due: ruff-format, ruff

feat: Filter component uploads by component ID
  sboms/apis.py
  sboms/js/components/DashboardStats.vue
Due: bun-lint, ruff-format, ruff

Simplify routing paths
  sbomify/urls.py
  sboms/urls.py
  teams/urls.py
Due: ruff-format, ruff

Add license API endpoints
  CHANGELOG.md
  README.md
  pyproject.toml
  sbomify/apis.py
  sbomify/licensing/__init__.py
  sbomify/licensing/apis.py
  sbomify/licensing/data/non_spdx.yaml
  sbomify/licensing/loader.py
  sbomify/licensing/tests/test_apis.py
Due: markdownlint, ruff-format, ruff

Add minimal OpenAPI file for License API
  docs/api/licenses.yaml
Due: none

feat: Implement License API endpoints with comprehensive SPDX and custom license support
  licensing/__init__.py
  licensing/admin.py
  licensing/api.py
  licensing/apps.py
  licensing/data/__init__.py
  licensing/data/non_spdx.yaml
  licensing/loader.py
  licensing/migrations/__init__.py
  licensing/models.py
  licensing/tests.py
  licensing/tests/__init__.py
  licensing/tests/test_api.py
  licensing/tests/test_integration.py
  licensing/tests/test_loader.py
  licensing/views.py
  poetry.lock
  pyproject.toml
  sbomify/apis.py
  sbomify/settings.py
Due: ruff-format, ruff

Bumps to 0.11
  pyproject.toml
Due: none

fix(licensing): resolve deployment errors and improve test coverage
  licensing/tests.py
  licensing/tests/test_api.py
  licensing/tests/test_integration.py
  poetry.lock
  pyproject.toml
  sbomify/apis.py
Due: ruff-format, ruff

chore: clean up notification logic and fix JS/TS lint errors
  sbomify/settings.py
  sboms/js/components/CiCdInfo.vue
Due: bun-lint, ruff-format, ruff

Fixes wizard
  teams/views.py
Due: ruff-format, ruff

feat: implement comprehensive license expression validation and SBOM enhancements
  .github/workflows/ci-cd.yml
  billing/js/components/PlanSelection.vue
  bun.lock
  core/static/js/main.ts
  core/tests/e2e/test_critical_paths.py
  eslint.config.js
  licensing/api.py
  licensing/loader.py
  licensing/tests/test_api.py
  licensing/tests/test_integration.py
  licensing/tests/test_loader.py
  package.json
  sboms/apis.py
  sboms/cyclonedx_validator.py
  sboms/js/components/ComponentMetaInfoDisplay.vue
  sboms/js/components/ComponentMetaInfoEditor.vue
  sboms/js/components/LicensesEditor.spec.ts
  sboms/js/components/LicensesEditor.vue
  sboms/sbom_base_validator.py
  sboms/sbom_validator.py
  sboms/schemas.py
  sboms/tests/conftest.py
  sboms/tests/test_apis.py
  sboms/tests/test_cyclonedx_validator.py
  sboms/tests/test_sbom_schemas.py
  sboms/tests/test_sbom_validator.py
  sboms/tests/test_utils.py
  sboms/utils.py
  sboms/versioning.py
  sboms/views.py
  teams/js/components/TeamBranding.vue
  teams/tests/test_onboarding_wizard.py
  teams/views.py
  vitest.config.ts
Due: bun-lint, ruff-format, ruff

Improve license U/X
  sboms/js/components/ComponentMetaInfoDisplay.vue
  sboms/js/components/ComponentMetaInfoEditor.vue
Due: bun-lint

Linting fix
  .cursor/rules/javascript-typescript.mdc
  DEVELOPER.md
  bun.lock
  package.json
  sboms/js/components/LicensesEditor.spec.ts
  sboms/js/components/LicensesEditor.vue
  tsconfig.node.json
Due: bun-lint, markdownlint

Attempt to bump bun
  Dockerfile
Due: none

Fixes dev vs prod dependency mappings
  Dockerfile
  bun.lock
  package.json
Due: none

feat: Complete migration from Vitest to Bun native test runner
  .github/workflows/ci-cd.yml
  bun.lock
  package.json
  sboms/js/components/LicensesEditor.spec.ts
  tsconfig.node.json
  vitest.config.ts
Due: bun-lint

Adds custom licenses to metadata
  .gitignore
  DEVELOPER.md
  package-lock.json
  sboms/js/components/LicensesEditor.spec.ts
  sboms/js/components/LicensesEditor.vue
Due: bun-lint, markdownlint

Fixes Supplier/Vendor editing in component metadata
  .cursor/rules/javascript-typescript.mdc
  sboms/js/components/ComponentMetaInfoDisplay.vue
  sboms/js/components/ComponentMetaInfoEditor.spec.ts
  sboms/js/components/ComponentMetaInfoEditor.vue
  sboms/js/components/ContactsEditor.vue
  sboms/js/components/SupplierEditor.vue
  sboms/js/type_defs.d.ts
  sboms/schemas.py
  sboms/tests/test_apis.py
Due: bun-lint, ruff-format, ruff

Code review fixes
  sboms/schemas.py
  sboms/tests/test_apis.py
  sboms/utils.py
Due: ruff-format, ruff

Bumps versions
  poetry.lock
Due: none

Cut 0.12.0
  pyproject.toml
Due: none

Expose id and name to metadata endpoint
  .github/workflows/ci-cd.yml
  sboms/apis.py
  sboms/js/components/ComponentMetaInfoDisplay.vue
  sboms/js/components/ComponentMetaInfoEditor.spec.ts
  sboms/js/components/ComponentMetaInfoEditor.vue
  sboms/js/type_defs.d.ts
  sboms/schemas.py
  sboms/tests/test_apis.py
Due: bun-lint, ruff-format, ruff

Expose more metadata for GitHub Actions
  pyproject.toml
Due: none

Moves to PATCH instead of PUT for editing metadata, and reinstate copy feature
  sboms/apis.py
  sboms/js/components/ComponentMetaInfo.spec.ts
  sboms/js/components/ComponentMetaInfo.vue
  sboms/js/components/ComponentMetaInfoDisplay.vue
  sboms/js/components/ComponentMetaInfoEditor.spec.ts
  sboms/js/components/ComponentMetaInfoEditor.vue
  sboms/schemas.py
  sboms/tests/test_apis.py
Due: bun-lint, ruff-format, ruff

fix: resolve component renaming 404 errors and add comprehensive tests
  core/js/components/EditableSingleField.spec.ts
  core/js/components/EditableSingleField.vue
Due: bun-lint

Adopts new github-action feature
  .github/workflows/ci-cd.yml
Due: none

feat(billing): Comprehensive test coverage and robustness improvements
  .cursor/rules/general.mdc
  billing/js/billing.spec.ts
  billing/js/components/PlanSelection.spec.ts
  billing/templates/billing/checkout_cancel.html
  billing/templates/billing/checkout_success.html
  billing/tests/test_stripe_client.py
  billing/tests/test_views_extended.py
  billing/urls.py
  billing/webhook_handler.py
  tsconfig.app.json
Due: bun-lint, ruff-format, ruff

refactor: improve component metadata UI layout and action placement
  core/js/components/StandardCard.spec.ts
  core/js/components/StandardCard.vue
  core/js/main.ts
  core/static/css/custom.css
  sboms/apis.py
  sboms/js/components/CiCdInfo.spec.ts
  sboms/js/components/CiCdInfo.vue
  sboms/js/components/ComponentMetaInfo.vue
  sboms/js/components/ComponentMetaInfoDisplay.vue
  sboms/js/components/DangerZone.spec.ts
  sboms/js/components/DangerZone.vue
  sboms/js/components/DashboardStats.vue
  sboms/js/components/SbomUpload.spec.ts
  sboms/js/components/SbomUpload.vue
  sboms/js/components/SbomsTable.spec.ts
  sboms/js/components/SbomsTable.vue
  sboms/js/main.ts
  sboms/templates/sboms/component_details_private.html
  sboms/tests/test_apis.py
  sboms/tests/test_views.py
  sboms/views.py
Due: bun-lint, ruff-format, ruff

fix: Add robust timeout handling for OSV vulnerability scanning tasks
  sbomify/settings.py
  sbomify/tasks.py
  sboms/tests/test_vulnerability_scanning.py
Due: ruff-format, ruff

feat: Add SBOM deletion functionality and improve table management
  core/js/components/DeleteConfirmationModal.spec.ts
  core/js/components/DeleteConfirmationModal.vue
  sboms/apis.py
  sboms/js/components/DangerZone.spec.ts
  sboms/js/components/DangerZone.vue
  sboms/js/components/SbomUpload.spec.ts
  sboms/js/components/SbomUpload.vue
  sboms/js/components/SbomsTable.spec.ts
  sboms/js/components/SbomsTable.vue
  sboms/models.py
  sboms/templates/sboms/component_details_private.html
  sboms/templates/sboms/component_details_public.html
  sboms/templates/sboms/sbom_details_private.html
  sboms/templates/sboms/sbom_details_public.html
  sboms/tests/test_apis.py
  sboms/urls.py
Due: bun-lint, ruff-format, ruff

feat: Add reusable card components and enhance SBOM management
  DEVELOPER.md
  billing/js/components/PlanSelection.vue
  core/js/components/PlanCard.spec.ts
  core/js/components/PlanCard.vue
  core/js/components/StandardCard.spec.ts
  core/js/components/StandardCard.vue
  core/js/components/StatCard.spec.ts
  core/js/components/StatCard.vue
  core/js/main.ts
  core/static/css/custom.css
  core/templates/core/settings.html
  sboms/js/components/ComponentMetaInfoEditor.vue
  sboms/js/components/DashboardStats.vue
  sboms/js/components/LicensesEditor.vue
  sboms/js/components/ProjectDangerZone.spec.ts
  sboms/js/components/ProjectDangerZone.vue
  sboms/js/main.ts
  sboms/templates/sboms/project_details_private.html
  sboms/templates/sboms/project_details_public.html
  static/site.css
  teams/js/components/TeamBranding.vue
Due: bun-lint, markdownlint

More documentation
  DEVELOPER.md
  core/js/components/StandardCard.vue
  sboms/js/components/DangerZone.vue
  sboms/js/components/ProductDangerZone.spec.ts
  sboms/js/components/ProductDangerZone.vue
  sboms/js/main.ts
  sboms/templates/sboms/product_details_private.html
  teams/js/components/TeamDangerZone.spec.ts
  teams/js/components/TeamDangerZone.vue
  teams/js/main.ts
  teams/templates/teams/team_details.html
Due: bun-lint, markdownlint

Format get_dashboard_summary
  sboms/apis.py
  sboms/js/components/DashboardStats.vue
  sboms/js/type_defs.d.ts
  sboms/schemas.py
  sboms/tests/test_apis.py
Due: bun-lint, ruff-format, ruff

feat: add contextual filtering to dashboard statistics
  core/apis.py
  core/js/main.ts
  sboms/apis.py
  sboms/js/components/DashboardStats.vue
  sboms/tests/test_apis.py
Due: bun-lint, ruff-format, ruff

feat: implement comprehensive CRUD operations for Products, Projects, and Components
  core/apis.py
  sboms/apis.py
  sboms/js/components/ItemSelectModal.vue
  sboms/schemas.py
  sboms/tests/test_crud_apis.py
Due: bun-lint, ruff-format, ruff

refactor: migrate dashboard tables to Vue components and improve workspace management
  core/js/components/AccessTokensList.vue
  core/js/main.ts
  core/templates/core/settings.html
  core/views.py
  sboms/templates/sboms/components_dashboard.html
  sboms/templates/sboms/products_dashboard.html
  sboms/templates/sboms/projects_dashboard.html
  teams/js/components/TeamDangerZone.vue
  teams/js/components/TeamsList.vue
  teams/js/main.ts
  teams/templates/teams/dashboard.html
  teams/templates/teams/team_details.html
  teams/tests.py
  teams/views.py
Due: bun-lint, ruff-format, ruff

feat: display application version in footer
  core/context_processors.py
  core/templates/core/components/footer.html
  pyproject.toml
  sbomify/settings.py
Due: ruff-format, ruff
